<!DOCTYPE html>
<html lang="en">

<head>
    <title>Whack A Penguin</title>
    <link rel="stylesheet" href="..\css\index.css" type="text/css">
    <script src="..\js\App.js"></script>
</head>

<body>
    <div id="penguinContainer">
        <div id="title"></div>
        <div id="images">
        <img name="img" id="penguin0" src="../images/mound_1.png" onclick="displayImage(0)" ></img>
        <img name="img" id="penguin1" src="../images/mound_2.png" onclick="displayImage(1)"></img>
        <img name="img" id="penguin2" src="../images/mound_3.png" onclick="displayImage(2)"></img>
        <img name="img" id="penguin3" src="../images/mound_4.png" onclick="displayImage(3)" ></img>
        <img name="img" id="penguin4" src="../images/mound_5.png" onclick="displayImage(4)" ></img>
        <img name="img" id="penguin5" src="../images/mound_6.png" onclick="displayImage(5)" ></img>
        <img name="img" id="penguin6" src="../images/mound_7.png" onclick="displayImage(6)" ></img>
        <img name="img" id="penguin7" src="../images/mound_8.png" onclick="displayImage(7)" ></img>
        <img name="img" id="penguin8" src="../images/mound_9.png" onclick="displayImage(8)"></img>
        </div> 
    </div>
    <script>
        random();
    </script>
</body>

</html>